*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: turquoise;
}

navbar{
  display: flex;
  border: 2px solid black;
  flex-direction: row;
  background: rgb(45, 45, 131);
}

ol{
  display: flex;
margin: 20px;
padding: 20px;
background: rgb(45, 45, 131);
}


li{
  margin: 2px;
  padding: 5px;
  list-style: none;
  text-decoration: none;
  background: rgb(45, 45, 131);
  color: white;
}